@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

  .slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 81%; /* Adjusts to the exact size of the right-side content */
    position: relative;
  }
  
  .slides-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Smooth slide transition */
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  


  .testimonial-slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
  }
  
  .testimonial-slide {
    display: flex;
    transition: transform 0.6s ease-in-out;
  }
  
  .testimonial-text {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    flex-shrink: 0;
  }
  